<template>
<div class="container is-max-widescreen">
    <div class="columns">
        <div class="column">

             <nav class="panel  is-small">

                <div class="panel-block is-background-white">

                    <div class="container is-widescreen ">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">  Nombre</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input " type="text" placeholder="" v-model="form.product_key">
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">Categoria</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <multiselect v-model="form.category" :options="categories" track-by="name" label="name" :show-labels="false" placeholder=""></multiselect>
                                <!-- <input class="input" type="text" placeholder="" v-model="form.work_phone"> -->
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">  Unidad de Medida</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <multiselect v-model="form.unit" :options="units" track-by="name" label="name" :show-labels="false" placeholder=""></multiselect>
                                <!-- <input class="input" type="text" placeholder="" v-model="form.nit"> -->
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">Nota</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <textarea class="textarea" v-model="form.note" placeholder=""></textarea>
                                <!-- <input class="input" type="text" placeholder="" v-model="form.private_note"> -->
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">Costo</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input" type="text" placeholder="" v-model="form.cost">
                                </div>
                            </div>
                            </div>
                        </div>


                    </div>
                </div>
            </nav>


        </div>


    </div>
    <!-- <div class="columns "> -->
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
               <button class="button is-darker " >
                    <span>Cancelar</span>
                    <span class="icon">
                    <i class="fas fa-window-close"></i>
                    </span>
                </button>
            </p>
            <p class="control">
                <button class="button is-success" @click="save()">
                    <span>Guardar</span>
                    <span class="icon">
                    <i class="fas fa-save"></i>
                    </span>
                </button>
            </p>
        </div>
    <!-- </div> -->
</div>
</template>

<script>
import {mixin} from './../../helpers/mixins';
export default
{
  mixins:[mixin],

  data: () => ({
    form:{},
    categories:[],
    units:[]

  }),
  mounted(){
    //   console.log(this.$route.params.id);
    this.form.id=this.$route.params.id;

    axios.get(`/api/auth/categories`)
        .then(response=>{
            this.categories = response.data.categories;
        });

    axios.get(`/api/auth/units`)
        .then(response=>{
            this.units = response.data.units;
        });

  },
  computed:
  {


  },
  methods:{
        save()
        {
            axios.post('/api/auth/product',this.form)
            .then(response=>{
                   this.$router.push('/product');
                    this.show_message(response.data.type_message,response.data.message);
                console.log('response',response.data)
            });
        },

  }

};
</script>
