<template>
<div class="container is-max-widescreen">
    <div class="columns">
        <div class="column">

             <nav class="panel  is-small elevation-2">
                <p class="panel-heading is-background-blue-dark">
                    Detalle
                </p>
                <div class="panel-block is-background-white">

                    <div class="container is-widescreen ">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">  Nombre</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input " type="text" placeholder="" v-model="form.name">
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">  Nit</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input" type="text" placeholder="" v-model="form.nit">
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">Negocio</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input" type="text" placeholder="" v-model="form.business_name">
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">Telefono</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input" type="text" placeholder="" v-model="form.work_phone">
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">Nota</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input" type="text" placeholder="" v-model="form.private_note">
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>

            <nav class="panel elevation-2">
                <p class="panel-heading is-background-blue-dark">
                    Direccion
                </p>
                <div class="panel-block is-background-white">

                    <div class="container is-widescreen">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label"> Ubicacion </label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input" type="text" placeholder="" v-model="form.address1">
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">  Cuidad</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input" type="text" placeholder="" v-model="form.city">
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">Pais</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input" type="text" placeholder="" v-model="form.state">
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>


        </div>
        <div class="column">
            <nav class="panel elevation-2">
                <p class="panel-heading is-background-blue-dark">
                    Contacto
                </p>
                <div class="panel-block is-background-white">

                    <div class="container is-widescreen" >
                        <div v-for="(contact,index) in form.contacts" :key="index">

                        <div class="columns">

                            <div class="column">

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                    <label class="label">  Nombres</label>
                                    </div>
                                    <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                        <input class="input" v-model="contact.first_name" type="text" placeholder="">
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                    <label class="label">  Apellidos</label>
                                    </div>
                                    <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                        <input class="input" v-model="contact.last_name" type="text" placeholder="">
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                    <label class="label">Email</label>
                                    </div>
                                    <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                        <input class="input" v-model="contact.email" type="text" placeholder="">
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                    <label class="label">Telefono</label>
                                    </div>
                                    <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                        <input class="input" v-model="contact.phone" type="text" placeholder="">
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                    <label class="label">Cargo</label>
                                    </div>
                                    <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                        <input class="input" v-model="contact.position" type="text" placeholder="">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="columns">

                            <div class="column has-text-left" v-if="removeIsVisible">
                                <a class="has-text-danger" @click="removeContact(index)"> Remover -</a>
                            </div>

                            <div class="column has-text-right" v-if="addIsVisible(index)">
                                <a class="has-text-success" @click="addContact()"> Adicionar +</a>
                            </div>
                        </div>


                        </div>
                        <!-- end container -->
                    </div>
                </div>
            </nav>
        </div>

    </div>
    <!-- <div class="columns "> -->
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
               <button class="button is-darker " >
                    <span>Cancelar</span>
                    <span class="icon">
                    <i class="fas fa-window-close"></i>
                    </span>
                </button>
            </p>
            <p class="control">
                <button class="button is-success" @click="save()">
                    <span>Guardar</span>
                    <span class="icon">
                    <i class="fas fa-save"></i>
                    </span>
                </button>
            </p>
        </div>
    <!-- </div> -->
</div>
</template>

<script>
import {mixin} from './../../helpers/mixins';
export default
{
  mixins:[mixin],

  data: () => ({
    form:{contacts:[{first_name:'',last_name:'',email:'',phone:'',position:''}]},

  }),
  mounted(){
    //   console.log(this.$route.params.id);
    this.form.id=this.$route.params.id;
  },
  computed:
  {
        removeIsVisible()
        {
            let visible = false;

            if(this.form.contacts.length>1)
            {
                visible=true;
            }

            return visible;
        },



  },
  methods:{
      save()
      {
          axios.post('/api/auth/client',this.form)
          .then(response=>{
                this.$router.push('/client');
                this.show_message(response.data.type_message,response.data.message);
              console.log('response',response.data)
          });
      },
      addContact()
      {
          this.form.contacts.push({first_name:'',last_name:'',email:'',phone:'',position:''});
      },
      removeContact(index)
      {
          this.form.contacts.splice(index,1);
      },
      addIsVisible(index)
        {

            let visible = false;

            if(this.form.contacts.length == index+1)
            {
                visible=true;
            }

            return visible;
        }
  }

};
</script>
