<template>
<div class="container is-max-widescreen" >
    <div class="columns">
    <div class="column is-one-third">
        <div class="select ">
        <select>
            <option>Ver Activos</option>
            <option>Ver Eliminados</option>
        </select>
        </div>
    </div>
    <div class="column is-one-third"></div>
    <div class="column is-one-third">
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input" type="text" placeholder="Buscar">
            </p>
            <p class="control">
                <button class="button is-info" @click="$router.push('client/0/edit')">
                    <span>Nuevo Cliente</span>
                    <span class="icon">
                    <i class="fas fa-plus-circle"></i>
                    </span>
                </button>
            </p>
        </div>
    </div>

    </div>

    <table class="table is-striped is-fullwidth">
        <thead >
            <th></th>
            <th class="has-text-white">Nombre</th>
            <th class="has-text-white">Contacto</th>
            <th class="has-text-white">Telefono</th>
            <th class="has-text-white">Fecha de Registro</th>
            <th class="has-text-white">Balance</th>
            <th style="min-width: 124px;"></th>
        </thead>
        <tbody v-if="clients">
            <tr v-for="(client,index) in clients.data" :key="index"  @mouseover="show(client,index)" @mouseleave="hide(client,index)" >
                <td ></td>
                <td  ><a>{{client.name}}</a></td>
                <td><a>{{client.contacts.length>0?client.contacts[0].first_name:null||''}}</a> </td>
                <td>{{client.work_phone}} </td>
                <td>{{formatDate(client.created_at)}}</td>
                <td>{{client.balance||''}}</td>
                <td  style="padding: 2px 12px; ">
                    <div :class="toogle_option?'dropdown is-active':'dropdown'" v-if="client.option" @click="toogle_option=!toogle_option" @mouseleave="toogle_option=false" >
                        <div class="dropdown-trigger">
                            <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu3">
                            <span> Opciones </span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                            <div class="dropdown-content">
                            <a class="dropdown-item">
                                Editar
                            </a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item">
                                Nueva Factura
                            </a>
                            <a class="dropdown-item">
                                Nueva Nota
                            </a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item">
                                Ingresar Pago
                            </a>
                            <hr class="dropdown-divider">
                            <a class="dropdown-item">
                                Eliminar
                            </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <nav class="pagination is-small" role="navigation" aria-label="pagination" v-if="clients">
    <a class="pagination-previous" @click="paginate(clients.prev_page_url)" :disabled="!clients.prev_page_url" >Anterior</a>
    <a class="pagination-next"  @click="paginate(clients.next_page_url)" :disabled="!clients.next_page_url">Siguiente</a>

    <div :class="toogle_dropdown?'dropdown is-active':'dropdown'" @click="toogle_dropdown=!toogle_dropdown" >
        <div class="dropdown-trigger">
            <button class="button is-small" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span>Ver {{row}} filas</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
            </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
            <a class="dropdown-item" v-for="(item,i) in rows" :key="i" @click="row=item">
                {{item}}
            </a>
            </div>
        </div>
    </div>


    <ul class="pagination-list">
        <li v-for="(link,index) in clients.links" :key="index" >
            <a :class="link.active?'pagination-link is-current':'pagination-link'" aria-label="Goto page 1" @click="paginate(link.url)" v-if="link.label!='Previous'&&link.label!='Next'">{{link.label}}</a>
        </li>

    </ul>
    </nav>
</div>
</template>
<script>
import {mixin} from './../../helpers/mixins';
export default
{
  mixins:[mixin],
  data: () => ({
    clients:null,
    rows:[10,20,30,40,100],
    row:10,
    toogle_dropdown:false,
    toogle_option:false
  }),
  mounted(){
      this.search();
  },
  methods:{
    show(object,index){
        // console.log('over',index)
        let obj=_.cloneDeep(object);
        obj.option = true;
        this.$set(this.clients.data, index, obj)
    },
    hide(object,index){
        // console.log('leave',index)
        let obj=_.cloneDeep(object);
        obj.option = false;
        this.$set(this.clients.data, index, obj)
    },

    search(){
        axios.get(`api/auth/client`)
        .then(response=>{
            console.log(response.data)
            this.clients = response.data.clients
            this.clients.data.forEach(element => {
                    element.option=false
                    return element
            });
        })
    },
    paginate(url)
    {
        if(url){

        axios.get(url)
        .then(response=>{
            this.clients = response.data.clients
        });

        }
    }
  }

};
</script>
