<template>
   <div class="login">
      <!-- <v-container fluid fill-height> -->
        <!-- <v-layout align-center justify-center> -->

            <form @submit.prevent="login">
                <div class="limiter">
                <div class="container-login100">
                    <div class="wrap-login100">
                        <div class="login100-pic ">
                            <img src="img/baner.png" alt="IMG">
                        </div>
                        <div class="login100-form">

                            <h1 class="title has-text-centered has-text-weight-bold is-family-primary ">
                                <i class="fa fa-store-alt"></i>
                                ARXAYIRI
                            </h1>
                            <div class="owl">
                                <div :class="owl_hide?'hand password':'hand'"></div>
                                <div :class="owl_hide?'hand hand-r password':'hand hand-r'"></div>
                                <div class="arms">
                                    <div :class="owl_hide?'arm password':'arm'"></div>
                                    <div :class="owl_hide?'arm arm-r password':'arm arm-r'"></div>
                                </div>
                            </div>
                            <!-- <div class="field">
                            <div class="control">
                                <input class="input is-medium is-rounded" type="email" placeholder="USUARIO" autocomplete="username" required />
                            </div>
                            </div> -->
                            <div class="field">
                                <p class="control has-icons-left has-icons-right">
                                <input class="input"   v-model="username" placeholder="Usuario">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                <!-- <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span> -->
                                </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input class="input" v-model="password" type="password" placeholder="Password" @focus="owl_hide = true"  @blur="owl_hide = false">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>


                            <!-- <div class="field">
                            <div class="control">
                                <input class="input is-medium is-rounded" type="password" placeholder="PASSWORD" autocomplete="current-password" required />
                            </div>
                            </div> -->
                            <!-- <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                                <input id="usr_usuario" v-model="usr_usuario" type="text" class="input100" name="usr_usuario"  required autofocus>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="wrap-input100 validate-input" data-validate = "Password is required">
                                <input id="password" type="password"  v-model="password" class="input100" name="password" @focus="owl_hide = true"  @blur="owl_hide = false" required>

                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div> -->
                             <button class="button is-block is-fullwidth is-success is-medium is-rounded " type="submit">
                                INICIAR SESION
                            </button>

                            <!-- <div class="container-login100-form-btn">
                                    <button type="submit" class="login100-form-btn" >
                                        Iniciar Sesion
                                    </button>

                            </div> -->
                        </div>
                    </div>
                </div>
                </div>
            <!-- <v-card >
              <v-toolbar dark color="primary">
                <v-toolbar-title>Recursos Humanos</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <div class="owl">
                      <div :class="owl_hide?'hand password':'hand'"></div>
                      <div :class="owl_hide?'hand hand-r password':'hand hand-r'"></div>
                      <div class="arms">
                        <div :class="owl_hide?'arm password':'arm'"></div>
                        <div :class="owl_hide?'arm arm-r password':'arm arm-r'"></div>
                      </div>
                </div>
                  <v-text-field prepend-icon="person" v-model="usr_usuario" label="Usuario" type="text"></v-text-field>
                  <v-text-field prepend-icon="lock" v-model="password" label="Contraseña" type="password" @focus="owl_hide = true"  @blur="owl_hide = false" ></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn dark color="primary" type="submit">Inciar Sesion</v-btn>
              </v-card-actions>
            </v-card> -->
            </form>

        <!-- </v-layout> -->
      <!-- </v-container> -->



    </div>
  <!-- <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-form @submit.prevent="login">
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Ultimate NOGMAT WOOD DESIGN SRL</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-text-field prepend-icon="person" label="Usuario" type="text" v-model="username"></v-text-field>
            <v-text-field
              prepend-icon="lock"
              label="Password"
              id="password"
              type="password"
              v-model="password"
            ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" type="submit">Iniciar Sesion</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-flex>
  </v-layout> -->
</template>
<script>
export default {
  data() {
    return {
        owl_hide: false,
        username: "",
        password: ""
    };
  },
  methods: {
    login() {
      console.log("enviando datos auth");
      let username = this.username;
      let password = this.password;
      this.$store
        .dispatch("auth/login", { username, password })
        .then(() => {
          console.log("autenticado");
          this.$router.push("/");
        })
        .catch(err =>
            iziToast.info({
                title: 'Credenciales no validas',
                message: 'Verifique si sus credenciales son correctas',
                position: 'topRight' // bottomRight, bottomLeft, topRight, topLeft, topCenter, bottomCenter
            })

        );
    }
  }
};
</script>
