    .container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ECC60B;
    background: -webkit-linear-gradient(-135deg, rgb(2, 11, 48), #1B64B8);
    background: -o-linear-gradient(-135deg, rgb(2, 11, 48), #1B64B8);
    background: -moz-linear-gradient(-135deg, rgb(2, 11, 48), #1B64B8);
    background: linear-gradient(-135deg, rgb(2, 11, 48), #1B64B8);
    }

    .wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 130px 33px 95px;
    }

    .login100-pic {
        width: 316px;
    }

    .login100-pic img {
        max-width: 100%;
    }

    .login100-form-title {
        font-family: sans-serif;
        font-size: 24px;
        color: #333333;
        line-height: 1.2;
        text-align: center;

        width: 100%;
        display: block;
        padding-bottom: 54px;
    }


  .owl {
    margin: auto;
    width: 211px;
    height: 108px;
    background-image: url("https://dash.readme.io/img/owl-login.png");
    position: relative;
  }
  .owl .hand {
    width: 34px;
    height: 34px;
    border-radius: 40px;
    background-color: #472d20;
    transform: scaleY(0.6);
    position: absolute;
    left: 14px;
    bottom: -8px;
    transition: 0.3s ease-out;
  }
  .owl .hand.password {
    transform: translateX(42px) translateY(-15px) scale(0.7);
  }
  .owl .hand.hand-r {
    left: 170px;
  }
  .owl .hand.hand-r.password {
    transform: translateX(-42px) translateY(-15px) scale(0.7);
  }
  .owl .arms {
    position: absolute;
    top: 58px;
    height: 41px;
    width: 100%;
    overflow: hidden;
  }
  .owl .arms .arm {
    width: 40px;
    height: 65px;
    background-image: url("https://dash.readme.io/img/owl-login-arm.png");
    position: absolute;
    left: 20px;
    top: 40px;
    transition: 0.3s ease-out;
  }
  .owl .arms .arm.password {
    transform: translateX(40px) translateY(-40px);
  }
  .owl .arms .arm.arm-r {
    left: 158px;
    transform: scaleX(-1);
  }
  .owl .arms .arm.arm-r.password {
    transform: translateX(-40px) translateY(-40px) scaleX(-1);
  }
