<template>
<div class="container is-max-widescreen">
    <nav class="panel">

        <div class="panel-block is-background-white elevation-1">
            <div class="container is-max-widescreen">

                <div class="columns">
                    <div class="column is-one-third">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">Cliente</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <multiselect v-model="client" :options="clients" :custom-label="clientlabel" track-by="name" label="name" :show-labels="false" placeholder=""></multiselect>
                                    <a v-if="!client" class="has-text-info-dark">Crear nuevo cliente</a>
                                    <a v-if="client" class="has-text-info-dark">Editar cliente</a> <a v-if="client" class="has-text-info">|</a> <a v-if="client" class="has-text-info-dark">Ver cliente</a>

                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="column is-one-third">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label">Fecha Nota</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <!-- <div class="control"> -->
                                    <div class="field has-addons has-addons-centered">

                                    <p class="control">
                                        <input class="input" :value="formatDate(date)" type="text" placeholder="" @click="visible=true" >
                                        <VueDatePicker style="visibility: hidden" format="DD/MM/YYYY" v-model="date" no-input  :visible="visible" @onClose="visible=false"  />
                                    </p>
                                    <p class="control">
                                        <button class="button default" @click="visible=true">
                                        <i class="fas fa-calendar"></i>
                                        </button>
                                    </p>
                                    </div>
                                <!-- </div> -->
                            </div>
                            </div>
                        </div>

                    </div>

                    <div class="column is-one-third">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                            <label class="label"> Nota#</label>
                            </div>
                            <div class="field-body">
                            <div class="field">
                                <div class="control">
                                <input class="input " type="text" placeholder="" v-model="invoice_number">
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                             <div class="field-label is-normal">
                            <label class="label"> Descuento</label>
                            </div>
                            <div class="field has-addons">
                                <div class="field has-addons">
                                    <div class="control">
                                    <input class="input" type="text" placeholder="" v-model="discount">
                                    </div>
                                    <div class="control">
                                        <div class="select">
                                        <select v-model="isPorcentage">
                                         <option v-for="(option,i) in options" v-bind:value="option.value" :key="i">
                                            {{ option.text }}
                                            </option>
                                        </select>
                                        </div>
                                    <!-- <a class="button is-info">
                                        Search
                                    </a> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end columns -->

                <div class="columns">
                    <div class="column">
                         <div class="container is-max-widescreen">
                            <table class="table is-fullwidth">
                                <thead  >
                                    <tr>
                                        <th class="th has-text-white " style="min-width:120px;width:25%" >Producto</th>
                                        <th class="th has-text-white " style="width:100%">Descripcion</th>
                                        <th class="th has-text-white " style="min-width:120px">Costo U.</th>
                                        <th class="th has-text-white " style="min-width:120px">Cantidad</th>
                                        <th class="th has-text-white " style="min-width:120px">Subtotal</th>
                                        <th class="th has-text-white " style="min-width:38px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,index) in items" :key="index" @mouseover="show(item,index)" @mouseleave="hide(item,index)"   >
                                        <td class=""><multiselect @close="checkNewItem()" v-model="item.product" :options="products" track-by="product_key" label="product_key" :show-labels="false" placeholder=""></multiselect> </td>
                                        <td class="">
                                            <input type="text" class="input " v-model="item.product.note" v-if="item.product">
                                            <input type="text" class="input" disabled v-else>
                                        </td>
                                        <td class="">
                                            <input type="text" class="input  has-text-right" v-model="item.product.cost" v-if="item.product">
                                            <input type="text" class="input  " v-else  disabled>
                                        </td>
                                        <td class="">
                                            <input type="text" class="input  has-text-right" v-model="item.quantity" v-if="item.product" >
                                            <input type="text" class="input" disabled v-else>

                                         </td>
                                        <td  class="has-text-right ">
                                            <span>{{formatNumber(subTotal(item))}}</span>

                                        </td>
                                        <td>
                                            <!-- <a ><i class="fas fa-trash has-text-danger" @click="removeItem(index)" v-if="item.option"></i></a> -->
                                            <a ><i class="fas fa-trash has-text-danger" @click="removeItem(index)" v-if="checkTrash(index)"></i></a>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                            <div class="columns">
                                <div class="column">

                                </div>
                                <div class="column is-4" >
                                    <table class="table  is-fullwidth" >
                                        <tbody>
                                            <tr>
                                                <td  class="has-text-right" style="min-width:120px"> Total Valor </td>

                                                <td class="has-text-right" style="min-width:120px"> {{formatNumber(total)}} </td>
                                                <td  style="width:38px"></td>
                                            </tr>
                                            <tr>
                                                <td  class="has-text-right" style="min-width:120px"> Descuento </td>

                                                <td class="has-text-right" style="min-width:120px"> {{formatNumber(total_discount)}} </td>
                                                <td  style="width:38px"></td>
                                            </tr>
                                            <tr>
                                                <td  class="has-text-right has-text-weight-bold" style="min-width:120px"> Total a Pagar </td>

                                                <td class="has-text-right has-text-weight-bold" style="min-width:120px"> {{formatNumber(total_pay)}} </td>
                                                <td  style="width:38px"></td>
                                            </tr>

                                        </tbody>

                                    </table>
                                </div>
                            </div>

                         </div>
                    </div>
                </div>


            </div>

        </div>

    </nav>

    <!-- <div class="columns "> -->
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
               <button class="button is-darker " >
                    <span>Cancelar</span>
                    <span class="icon">
                    <i class="fas fa-window-close"></i>
                    </span>
                </button>
            </p>
            <p class="control">
                <button class="button is-success" @click="save()">
                    <span>Guardar</span>
                    <span class="icon">
                    <i class="fas fa-save"></i>
                    </span>
                </button>
            </p>

        </div>
    <!-- </div> -->
    <iframe :src="url_iframe"  frameborder="0" allowtransparency="true" style="width:100%;height:600px"   type="application/pdf"></iframe>
</div>
</template>

<script>
import { mixin } from './../../helpers/mixins'

export default
{
  mixins: [mixin],

  data: () => ({
    form: { date: null, contacts: [{ first_name: '', last_name: '', email: '', phone: '', position: '' }] },
    clients: [],
    client: null,
    // eslint-disable-next-line no-undef
    date: moment().format('l'),
    products: [],
    items: [{ product: null, quantity: 1, subtotal: null, option: false }],
    invoice_number: 1,
    amount_discount: 0,
    options: [
      { text: '%', value: true },
      { text: 'Bs', value: false },
    ],
    isPorcentage: false,
    discount: null,
    url_iframe: null,
    // docDefinition:{},
    master_document_id: 1, // Documento maestro 1 Nota
    visible: false,
    list_item:[],

  }),
  mounted () {
    //   console.log(this.$route.params.id);
    this.form.id = this.$route.params.id;
    axios.get(`${ url_base }/api/auth/clients`)
        .then(response=>{
            this.clients = response.data.clients;
        });
    axios.get(`${url_base}/api/auth/products`)
        .then(response=>{
            this.products = response.data.products;
        });
    moment.locale('en-ca');


  },
  computed:
  {
        removeIsVisible()
        {
            let visible = false;

            if(this.form.contacts.length>1)
            {
                visible=true;
            }

            return visible;
        },
        total()
        {
            let amount = 0;
            this.items.forEach(item => {
                amount += parseFloat(item.subtotal)
            });
            return amount.toFixed(2);
        },
        total_discount()
        {
            let amount = 0;
            if(this.discount>0)
            {
                if(this.isPorcentage)
                {
                   amount = parseFloat(this.total) * (parseFloat(this.discount)/100);
                }else{
                    amount = this.discount;
                }
                this.amount_discount = parseFloat(amount).toFixed(2);

            }
            return parseFloat(amount).toFixed(2);
        },

        total_pay()
        {
            let amount=0;
            if(this.total> 0)
            {
                if(this.total_discount>0)
                {
                    amount = parseFloat(this.total) - parseFloat(this.total_discount);
                }else{
                    amount = parseFloat(this.total)
                }
            }
            return  parseFloat(amount).toFixed(2);
        },
        product_list()
        {
            let items = [];
            let lista = [];
            this.items.forEach(item => {

                let item_index = {option:false,enabled:false}
                if(item.product){
                    let p = _.cloneDeep(item.product);
                    p.quantity= item.quantity;
                    items.push(p);
                    item_index.enabled=true;
                }
                lista.push(item_index);
            });

            this.list_item = lista;
            return items;

        },


  },
  methods:{
        show(object,index){
            // console.log('over',index)

            // console.log('objec',object)
            if(object.product)
            {
                // let obj=object;
                // obj.option = true;
                this.$set(this.list_item[index],'option',true);
                // this.$set(this.items.data, index, obj)
            }
        },
        hide(object,index){
            // console.log('leave',index)
            if(object.product)
            {
                this.$set(this.list_item[index],'option',false);
                // let obj=_.cloneDeep(object);
                // obj.option = false;
                // this.$set(this.items.data, index, obj)
            }
        },

        save()
        {
            let params = {
                        master_document_id: this.master_document_id,
                        invoice_number: this.invoice_number,
                        date: this.date,
                        client: JSON.stringify(this.client),
                        discount: this.amount_discount,
                        jitems : JSON.stringify(this.product_list)
            };

            axios.post('/api/auth/note',params)
            .then(response=>{
                    // this.$router.push('/client');
                    this.show_message(response.data.type_message,response.data.message);
                console.log('response',response.data)
            });
        },
        addContact()
        {
            this.form.contacts.push({first_name:'',last_name:'',email:'',phone:'',position:''});
        },
        removeItem(index)
        {
            this.items.splice(index,1);
        },
        addIsVisible(index)
        {

            let visible = false;

            if(this.form.contacts.length == index+1)
            {
                visible=true;
            }

            return visible;
        },
        subTotal(item)
        {
            let amount=0;
            if(item.product && item.quantity>0)
            {
                amount = item.product.cost * item.quantity;
            }
            amount= amount.toFixed(2);
            item.subtotal = amount;
            return amount;
        },
        checkNewItem()
        {
            let has_item=false
            let sw = true;
                this.items.forEach(item => {
                    if(!item.product)
                    {
                        if(sw){
                            has_item = true;
                            sw=false;
                        }
                    }
                });
            if(!has_item)
            {
                this.items.push({product:null,quantity:1,subtotal:null,option:false});
            }
        },
        clientlabel({name,nit})
        {
            return `${name} - ${nit}`;
        },
        getUrl()
        {
             axios({
                    url: `${this.url_base}/api/auth/invoice_pdf`,
                    method: 'POST',
                    params: {
                                master_document_id: this.master_document_id,
                                invoice_number: this.invoice_number,
                                date: this.date,
                                client: JSON.stringify(this.client),
                                discount: this.amount_discount,
                                jitems : JSON.stringify(this.product_list)
                            },
                    responseType: 'blob', // important
                }).then((response) => {

                    let url = window.URL.createObjectURL(new Blob([response.data],{type: 'application/pdf'}));
                    this.url_iframe = url;

                });
       },
       checkTrash(index)
       {
           let response = false;
           if(this.list_item[index])
           {
               if(this.list_item[index].option)
               {
                   response =true;
               }
           }

           return response;
       }



  },
  watch:{
      client(){

          this.getUrl();
      },
      invoice_number()
      {
          this.getUrl();
      },

      items:
      {
        deep: true, // mira los cambios a profundidad  belleza de funcion XD
        handler(){
            this.getUrl();

        }
      },
      date()
      {
          this.getUrl();
      },
      amount_discount()
      {
          this.getUrl();
      }

  },
  components:{


  }

};
</script>
