<template>
<div>
    <div v-if="$route.meta.requiresAuth">

            <!-- header menu start -->
            <nav class="navbar is-fixed-top is-link elevation-4"  role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="">
                       <p class="title has-text-white"> ARXA<stronge class="has-text-primary">YIRI</stronge></p>
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" @click="drawer=!drawer">
                            <i class="fas fa-bars"></i>
                        </a>



                    </div>

                    <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <i class="fas fa-user"></i>
                               <p> Usuario</p>
                            </a>

                            <div class="navbar-dropdown">
                            <a class="navbar-item">
                                Perfil
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Cerra Sesion
                            </a>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </nav>
            <!-- header menu end -->
            <!-- sidebar start -->

            <div :class="drawer?'main-siderbar':'main-siderbar collapse'" >
            <!-- item1 -->
            <aside class="siderbar">

                <ul class="sidebar-menu">
                  <li class="profile">
                      <img :src="`${url_base}/img/logoXD.jpeg`" alt="">
                      <p>Zasa Pasteleria</p>
                  </li>

                  <router-link
                    to="/"
                    v-slot="{ href, navigate }"
                    >
                  <li class="item">
                    <a class="menu-btn" :href="href" @click="navigate"> <i class="fas fa-desktop"></i>
                        <p> Inicio  <span class="drop-down"></span> </p>
                    </a>
                  </li>
                   </router-link>
                    <router-link
                    to="/client"
                    v-slot="{ href, navigate }"
                    >
                    <li class="item" :href="href" @click="navigate">
                        <a class="menu-btn is-active"> <i class="fas fa-user-circle"></i>
                            <p> Clientes  <span class="drop-down"> </span> </p>
                        </a>
                    </li>
                    </router-link>

                    <router-link
                        to="/product"
                        v-slot="{ href, navigate }"
                        >
                        <li class="item">
                            <a class="menu-btn" :href="href" @click="navigate"> <i class="fas fa-box "></i>
                                <p> Productos  <span class="drop-down"> </span> </p>
                            </a>
                        </li>
                    </router-link>

                    <router-link
                    to="/note"
                    v-slot="{ href, navigate }"
                    >
                        <li class="item">
                            <a class="menu-btn" :href="href" @click="navigate"> <i class="fas fa-file-invoice "></i>
                                <p> Notas  <span class="drop-down"> </span> </p>
                            </a>
                        </li>
                    </router-link>

                    <router-link
                    to="/payment"
                    v-slot="{ href, navigate }"
                    >
                    <li class="item" :href="href" @click="navigate">
                        <a class="menu-btn"> <i class="fas fa-cash-register "></i>
                            <p> pagos  <span class="drop-down"> </span> </p>                       </a>
                    </li>
                    </router-link>


                </ul>
            </aside>

            <!-- main container start -->
            <div class="main-container">

                <nav class="breadcrumb is-large" aria-label="breadcrumbs">
                <ul>
                    <li v-for="(bread,index) in $route.meta.breadcrumbs" :key="index"><a @click="$router.push(bread.path)" >{{bread.name}}</a></li>
                    <!-- Todo: Validar que si existe un id en la route y este es 0 no se llame edit si no nuevo-->
                    <li class="is-active"><a href="#" aria-current="page">{{ checkEdit($route.name)}}</a></li>
                </ul>
                </nav>
                <router-view></router-view>




            </div>
            <!-- main container end -->
        </div>

    </div>
    <div v-else>
        <router-view></router-view>
    </div>

</div>
</template>
<script>
import { mapState } from 'vuex';
import {mixin} from '../helpers/mixins';
export default {
  mixins:[mixin],
  props: {
    source: String,
  },
  data: () => ({
    items: [
        { title: 'Dashboard', icon: 'mdi-view-dashboard' },
        { title: 'Photos', icon: 'mdi-image' },
        { title: 'About', icon: 'mdi-help-box' },
    ],
    drawer: true,
  }),
  computed:{
        ...mapState({
        user: state => state.auth.user,
        token: state =>state.auth.token
        }),
  },
  methods:{
    drawerhide()
    {
      this.drawer =!this.drawer;
    },
    checkEdit(name)
    {
        let rename=name;
        if(name=='Editar')
        {
            if(this.$route.params.id == 0)
            {
                rename = "Crear";
            }
        }

        return rename;
    }
  },
  mounted(){
    //   console.log("verificando login")
        axios.interceptors.response.use(undefined, (err) => {
                 return new Promise((resolve, reject) => {
                     console.log(err.response.status);
                     if (err.response.status === 401) {
                         // if you ever get an unauthorized, logout the user
                         this.$store.dispatch('auth/logout')
                             .then(() => this.$router.push('/login'))
                             .catch(err => console.log(err))
                         // you can also redirect to /login if needed !
                     }
                     throw err;
                 });
             });

  },
  created(){

        //   console.log("verificando login en la creacion")
        axios.interceptors.response.use(undefined, (err) => {
                 return new Promise((resolve, reject) => {
                     console.log(err.response.status);
                     if (err.response.status === 401) {
                         // if you ever get an unauthorized, logout the user
                         this.$store.dispatch('auth/logout')
                             .then(() => this.$router.push('/login'))
                             .catch(err => console.log(err))
                         // you can also redirect to /login if needed !
                     }
                     throw err;
                 });
             });


  },
  components:{
  }

};
</script>

