<template>
    <div :class="modal_dialog?'modal is-active':'modal'">
    <div class="modal-background"></div>
    <!-- <div class="modal-card"> -->
    <!-- <header class="modal-card-head">
        <p class="modal-card-title ">ELIMINAR </p>
        <button class="delete" aria-label="close" @click="closeModal()"></button>
    </header> -->
    <section class="modal-content">
        <!-- Content ... -->

        <div class="container is-widescreen ">
            <article class="message is-danger">
                <div class="message-header">
                    <p>Eliminar</p>
                    <button class="delete" aria-label="delete" @click="closeModal()"></button>
                </div>
                <div class="message-body">

                    <span>  {{message}} </span>
                    <div class="field is-grouped is-grouped-right">
                        <p class="control">
                        <button class="button is-darker " @click="closeModal()" >
                                <span>No</span>
                                <span class="icon">
                                <i class="fas fa-window-close"></i>
                                </span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button is-primary" @click="sendDelete()">
                                <span>Si</span>
                                <span class="icon">
                                <i class="fas fa-trash"></i>
                                </span>
                            </button>
                        </p>
                    </div>

                </div>
            </article>

        </div>

    </section>
    <!-- <footer class="modal-card-foot">

    </footer> -->
    <!-- </div> -->
    </div>
</template>
<script>
import { mapState } from 'vuex';
import {mixin} from '../helpers/mixins';

export default {
  mixins:[mixin],
  props: {
    source: String,
  },
  data: () => ({

  }),
  computed:{
        ...mapState({
        modal_dialog: state => state.template.show_message,
        message: state => state.template.message,
        path: state => state.template.path,
        }),
  },
  methods:{
      closeModal()
      {
          this.$store.dispatch('template/closeMessage');
      },
      sendDelete()
      {

            axios.delete(`${this.path}`)
                .then(response=>{
                    this.show_message(response.data.type_message,response.data.message);
                    this.closeModal();
                    this.$emit('item_delete');
                });
      }
  }
}
</script>
