<template>
<div :class="modal_dialog?'modal is-active':'modal'">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head is-background-blue ">
      <p class="modal-card-title has-text-white">{{title}}</p>
      <button class="delete" aria-label="close" @click="sendClose()"></button>
    </header>
    <section class="modal-card-body">
        <div class="container is-widescreen ">

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                <label class="label">  Nombre</label>
                </div>
                <div class="field-body">
                <div class="field">
                    <div class="control">
                    <input class="input " type="text" placeholder="" v-model="item.name">
                    </div>
                </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                <label class="label">  Descripción</label>
                </div>
                <div class="field-body">
                <div class="field">
                    <div class="control">
                    <input class="input" type="text" placeholder="" v-model="item.description">
                    </div>
                </div>
                </div>
            </div>



        </div>
    </section>
    <footer class="modal-card-foot">
            <div class="container is-widescreen ">
                 <div class="field is-grouped is-grouped-right">
                    <p class="control">
                    <button class="button is-darker " @click="sendClose()" >
                            <span>Cancelar</span>
                            <span class="icon">
                            <i class="fas fa-window-close"></i>
                            </span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button is-success" @click="sendCategory()">
                            <span>Guardar</span>
                            <span class="icon">
                            <i class="fas fa-save"></i>
                            </span>
                        </button>
                    </p>
                </div>
            </div>

    </footer>
  </div>
</div>

</template>

<script>

import {mixin} from './../../helpers/mixins';
export default
{
    mixins:[mixin],

    props:{
        dialog: Boolean,
        category: Object
    },
    data: () => ({
        form:{},

    }),
    mounted(){
        //   console.log(this.$route.params.id);
        this.form.id=this.$route.params.id;
    },
    computed:
    {
        title()
        {
            let title= "Nueva Categoria";
            if(this.item.id)
            {
                title ="Editar Categoria";
            }

            return title;
        },
        modal_dialog()
        {
            return this.dialog;
        },
        item()
        {
            return this.category;
        }

    },
    methods:{

            sendClose()
            {
                this.$emit('close',false);
            },
            sendCategory()
            {
                this.$emit('category',this.item)
            }

    }

};
</script>
